.direnv
docker
.eggs
gepify.egg-info
.git
htmlcov
playlists
__pycache__
songs
celerybeat-schedule
.coverage
.coveragerc
docker-compose.yaml
.dockerignore
.env
.envrc
.gitignore
*.pyc
*.log
.travis.yml
