# cache files
gepify.egg-info/
*.pyc

# text editors configurations
.vscode/
gepify.sublime-project
gepify.sublime-workspace

# songs and playlists folders
songs/*
playlists/*

# server log files
server.log
celery.log
beat.log

# coverage files
.coverage
htmlcov/*

# celery files
celerybeat-schedule

# direnv files
.envrc
.direnv/
