# cache files
gepify.egg-info/
*.pyc

# songs and playlists folders
songs/*
playlists/*

# server log files
server.log
celery.log
beat.log

# coverage files
.coverage
htmlcov/*

# celery files
celerybeat-schedule
