{% extends "layout.html" %}

{% block content %}
  <h1 class="title">Gepify <small>download your online playlists</small></h1>
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <a href="{{ url_for('spotify.index') }}" style="margin:auto;width:300px;height:90px;display:block;">
        <img src="/static/img/spotify_logo.png" />
      </a>
    </div>
    <div class="col-md-6 col-xs-12">
      <a href="{{ url_for('deezer.index') }}" style="margin:auto;width:300px;height:90px;display:block;">
        <img src="/static/img/deezer_logo.png" />
      </a>
    </div>
  </div>
{% endblock %}
