{% extends "layout.html" %}

{% block content %}
  <h2 class="subtitle">{{ playlist['name'] }}</h2>

  {% if playlist['description'] %}
  <h3>{{ playlist['description'] }}</h3>
  {% endif %}

  <ul class="songs-list">
  {% for track in playlist['tracks'] %}
    <li>
      {{ track['name'] }}
      <span class="pull-right">
      {% for format in SUPPORTED_FORMATS %}
        <a href="{{ url_for('{}.download_song'.format(service), format=format, song_name=track['name']) }}"
           class="label {{ 'label-success' if format in track['files'].keys() else 'label-default' }}">
          {{ format }}
        </a>
      {% endfor %}
      </span>
    </li>
  {% endfor %}
  </ul>

  <h3>Download playlist</h3>
  <form action="{{ url_for('{}.download_playlist'.format(service)) }}" method="POST">
    <select name="format" class="form-control">
      {% for format in SUPPORTED_FORMATS %}
        <option value="{{ format }}">{{ format }}</option>
      {% endfor %}
    </select>

    <input type="hidden" name="playlist_id" value="{{ playlist['id'] }}">

    <button type="submit" class="btn btn-default">
      <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
      Download
    </button>
  </form>
{% endblock %}
