.main h1 {
    text-align: center;
}

form button[type=submit] {
    margin: 10px 0;
}

.songs-list li, .playlists-list li {
    margin: 4px 0;
    list-style: none;
}

a.label {
    margin-left: 10px;
}
